################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/mainGenetyczny/x64/Debug
/mainGenetyczny/Debug

